$size: 10px;


.logged-in-text{
    font-size:$size;
}
  .navbar-brand {
        font-size: 2 * $size;
        color: palegoldenrod;
        
    }
.navbar{
    background-color:orange;
    font-size: large; 
}
.nav-area{
    display: flex;
    justify-content: flex-end;
}

a {
    color: palegoldenrod;
    display: inline;
}

#nav {
    display: inline;
}

