.logged-in-text{
    font-size:10px;
}
.navbar-brand {
    font-size: 20px;
    color: palegoldenrod;      
}

.main-header{
    background-color:orange;
    font-size: large; 
}
.nav-area{
    display: flex;
    justify-content: flex-end;
}

a {
    color: palegoldenrod;
    display: inline;
}

#nav {
    display: inline;
}

