.logged-in-text{
    font-size:10px;
}
  .navbar-brand {
        font-size: 20px;
        color: palegoldenrod;
        
    }
.navbar{
    background-color:orange;
    
}

   a{
        color: palegoldenrod;
    
    }
