$size: 10px;


.logged-in-text{
    font-size:$size;
}
  .navbar-brand {
        font-size: 2 * $size;
        color: palegoldenrod;
        
    }
.navbar{
    background-color:orange;
    
}

   a{
        color: palegoldenrod;
    
    }
