.logged-in-text{
    font-size:10px;
}
  .navbar-brand {
        font-size: 20px;
        color:navy;
        background-color: aquamarine;
    }
.navbar{
    background-color: aquamarine;
    
}
.bg-primary{
    background-color: aquamarine;
}
    
